<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
   <head>
       
      <link th:href="@{/css/styles.css}" rel="stylesheet"/>
      <link th:href="@{/css/bootstrap.css}" rel="stylesheet"/>
      
      <title>Sidebar sub menus</title>
   </head>
   <body >
      <div th:fragment="navbar" id="body-pd">
         <div class="sidenav">
            <a href="/">Início</a>
            <a href="/escola">Escola</a>
         </div>
         <!-- ===== IONICONS ===== -->
<!--         <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
         <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>-->
         <!-- ===== MAIN JS ===== -->
         <script type="text/javascript" th:src="@{/js/main.js}"></script>
      </div>
   </body>
</html>
