<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
   <head>
      <title>Cadastro de Escola</title>
      <link th:href="@{/css/styles.css}" rel="stylesheet"/>
      <link th:href="@{/css/bootstrap.css}" rel="stylesheet"/>
      <link th:href="@{/css/bootstrap4.css}" rel="stylesheet"/>
      <script type="text/javascript" th:src="@{/js/bootstrap.js}"></script>
      
   </head>
   <body>
      <div th:replace="fragments/navbar :: navbar"></div>
      
        <div class="main">
        <nav class="navbar">
           <span class="record">Escola</span>
           <form class="form-inline">
              <button type="button" class="btn btn-light btn-actions" data-bs-target="#exampleModal" data-bs-toggle="modal">
                 <ion-icon name="create-outline"></ion-icon>
                 Editar
              </button>
           </form>
        </nav>
        
        <h3 th:text="${escola.nome}"></h3>
        <span th:text="'#'+${escola.id}"></span> 
     
      </div>
      
      <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
      <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
      <script type="text/javascript" th:src="@{/js/main.js}"></script>
   </body>
</html>